#gantt-chart {
	margin-top: 10px !important;
}

.color-yellow .bar-progress {
	fill: #fbda38 !important;
}

.color-blue .bar-progress {
	fill: #4694ff !important;
}

.color-green .bar-progress {
	fill: #4ba975 !important;
}

.color-purple .bar-progress {
	fill: #856be2 !important;
}

.color-red .bar-progress {
	fill: #ff2a2a !important;
}

.color-orange .bar-progress {
	fill: #fb9531 !important;
}

.color-grey .bar-progress {
	fill: #a09c9c !important;
}

.color-brown .bar-progress {
	fill: #ab6333 !important;
}

.color-deep_orange .bar-progress {
	fill: #e66e0b !important;
}

.color-dark_grey .bar-progress {
	fill: #737373 !important;
}

.color-pink .bar-progress {
	fill: #f546d5 !important;
}

.color-teal .bar-progress {
	fill: #49b1c1 !important;
}

.color-cyan .bar-progress {
	fill: #49cce0 !important;
}

.color-lime .bar-progress {
	fill: #5fc55f !important;
}

.color-light_green .bar-progress {
	fill: #4af74a !important;
}

.color-amber .bar-progress {
	fill: #f1d042 !important;
}

.today-highlight {
	fill: #efff007a !important;
}
